cachetools==4.2.2
Django==4.0
gunicorn==20.1.0
httplib2==0.19.1
mistune==0.8.4
numpy==1.20.2
oauth2client==4.1.3
oauthlib==3.1.1
psycopg2-binary==2.9.1
pyrsistent==0.17.3
pyte==0.8.0
pytest==6.2.4
python-dateutil==2.8.1
python-mimeparse==1.6.0
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
swagger-ui-bundle==0.0.8
traitlets==5.0.5
